.App {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}
.table-two{
  padding-top: 15px;
}
.App input {
  margin-left: 10px;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #454d55;
  width: 190px;

}
